body {
    font-family: 'Roboto', sans-serif;
}

.project {
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding: 20px 0px;
}

.project:hover {
    background-color: rgb(231, 231, 231);
}

.todo, .project {
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.form {
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
    padding: 20px 0px;
    text-align: center;
}

.input {
    margin: 7px 0px 25px 0px;
}

button {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 200px;
    display: block;
    font-family: inherit;
    font-size: 1em;
    background-color: rgb(207, 179, 214);
    border: 1px solid black;
}